*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    color:#2e483c;
    font-family: 'Scope One', serif;
    font-weight:600;
    background-color:white;
}


/*.divheader{
    display: inline-flex;
    background: white;
    color: white;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
    
}

#imagenheader7{
    width: 11.5%;
}*/

.divheader{
    display: grid;
    background: white;
    color: white;
    grid-template-columns:1fr 3fr 1fr;
    overflow: hidden;
    align-items: center;
    width: 100%;
    text-align:center;
}

#imagenheader7{
    width: 80%;
    margin:0px auto;
 }
.h1{
    color: #2e483c;
    align-self: center;    
    font-size: 2em;
    transition: transform 1s;
}


.header_ingresar{
    background: #2e483c;
    color: #fff;
    text-decoration: none;
    padding: 1em 1em;
    border-radius: 20px;
    display:inline-block;
    margin:1px;
}
.header_registro{
    background: #2e483c;
    color: #fff;
    text-decoration: none;
    padding: 1em 1em;
    border-radius: 20px;
    display:inline-block;
    margin:1px;
}
.header_ingresar:hover{
    background:rgb(158, 155, 155);
    color: white;
}
.header_registro:hover{
    background:rgb(158, 155, 155);
    color: white;
}
header img{
    width: 100%;
    height: auto;
}

header nav{
    width: 100%;
    max-width: 1200px;
    margin:20px auto;
    background:#2e483c;
    display: flex;
    justify-content: center;
    
}

.menu_bar{
    display: none;
}

header nav ul{
    overflow: hidden;
    list-style:none;
}

header nav ul li {
    float:left;
}

header nav ul li a{
    color:white;
    padding:20px;
    display: block;
    text-decoration: none;
}

header nav ul li span{
    margin-right: 10px;
}

header nav ul li a:hover{
    background: #5e9179;
    color:white;
}

footer{
    text-align: center; 
}

footer img{
    margin-top: 10px;
    width: 15%;
}

#iconos_footer{
   font-size: 30px;
}

#h2f {
    color: #2e483c;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-size: 2em;
}

form {
    position: relative;
    width: 100%;
    animation: fadeTopIn 2s;
    
  }

@keyframes fadeTopIn {
    0% {
      transform: translate3d(0, -20%, 0);
      transform: translate3d(0, -20%, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
      transform: none;
      opacity: 1;
    }
  }

/* Por debajo de 1000px */
@media screen and (max-width: 1000px){
        .h1{
        font-size:1.5em;
        }
        .header_buttons{
        font-size:  0.8em;
        }
        }
/* Por debajo de 800px */
@media screen and (max-width: 800px){
        .h1{
        font-size:1em;
        }
        .header_buttons{
            font-size:  0.7em;
            }
        header nav{
            width: 100%;
            height: 100%;
            left:-100%;
            margin:0;
            position:fixed;
            display:block;
            
    
        }
        header nav ul li {
            display:block;
            float:none;
            border-bottom: 1px solid rgba(225,255,255,.3);
        }

        .menu_bar{
            display:block;
            width: 100%;
            background: white;
        }

        .menu_bar .bt-menu{
            display:block;
            padding:20px;
            background:#6b9e86;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size:20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .menu_bar span{
            float: right;

        }
            
        }

    
/* Por debajo de 600px */
@media screen and (max-width: 600px){
    .h1{
    font-size:0.8em;
    }
    .header_buttons{
        font-size:0.5em;
    }
    
    section{
            display:grid;
            margin-left: 2em;
            margin-right: 2em;
            grid-template-columns: 1fr;
        }

    section h1{
        font-size: 1em;
    }
    #textosection p{
        font-size: 0.7em;
    }



    }

/* Por debajo de 430px */
@media screen and (max-width: 430px){
    .h1{
    font-size:0.5em;
    }
    .header_buttons{
        font-size:  0.3em;
        }
  
    #mapa iframe{
        /*display:none;*/
        height: 250px;
        width: 250px;
         }
    #mapa{
        padding: 10px 10px;
        
    }
}

    /* Por debajo de 300px */
@media screen and (max-width: 300px){
        #mapa iframe{
            /*display:none;*/
            height: 200px;
            width: 200px;
             }
        section{
                display:grid;
                grid-template-columns: 1fr;
                
            }
        #textosection p{
            font-size: 0.6em;
        }

    }

